.grid{
    width:400px;
    height:600px;
    background-color: yellow;
   /* background-image: url("../img/dud-fon-small-blur-3.png");*/
   /* background-size: cover;
    background-position: 50% 50%;*/
    background-repeat: repeat;
    position: relative;
    /*overflow: hidden;*/
    box-sizing: border-box;
}

.doodler {
    width:51px;
    height: 80px;
    background-image: url("../img/dud-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}
.againDiv{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border:5px solid red;
}
.newgame-btn{
    width:150px;
    height: 50px;
    position: relative;
    margin:0 auto;
    border-radius: 10px;
    background-color: white;
}

.score-div{
    font-size: 24px;
    color: white;
    text-align: center;
    z-index: 200;
    padding:40px 0px;
}